.Card{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ababab;
    margin: 20px;
    height: 100px;
    width: 300px;
    background-color: #141414;
    text-decoration: none;
    border: #fff;
    border-radius: 5px;
    place-self: center;
    transition: 0.1s;
}

.Card:hover{
    transform: translate(0, -5px);
}