body{
  background-color: #1c1c1c;
}

.Cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 100px;
  padding-right: 100px;
}

.Searchbar-container{
  padding-top: 70px;
  padding-bottom: 30px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}